<div>
<script type="text/x-handlebars-template" data-template-id="our-work">
  <div class="work-carousel">
    <div class="work-slides">
      {{#each projects}}
        {{>work-slide}}
      {{/each}}
    </div>
    <div class="work-carousel--buttons">
      {{#each projects}}
        <a href="#slide-{{hyphenize project}}" class="carousel-button{{#if @first}} active{{/if}}" data-toggle="slide" data-index="{{@index}}"></a>
      {{/each}}
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" data-partial-id="work-slide">
  <div class="work-slide" data-partner="{{partner}}" data-project="{{project}}" id="slide-{{hyphenize project}}">
    <div class="work-slide--image"></div>
    <div class="work-slide--partner">{{{partner}}}</div>
    <div class="work-slide--project">{{{project}}}</div>
    <div class="work-slide--blurb">{{{blurb}}}</div>
  </div>
</script>

</div>