<div class="work-slide flsip-card" data-partner="{{partner}}" data-project="{{project}}" id="slide-{{hyphenize project}}">
  <img src="./images/work/work-{{id}}.jpg" alt="{{project}}" class="work-slide--image" />
  <div class="work-slide-cover">
    <div class="work-slide--partner">{{{partner}}}</div>
    <div class="work-slide--project">{{{project}}}</div>
  </div>
  <a href="#modal-{{hyphenize project}}" class="work-slide-overlay" data-partner="{{partner}}" data-project="{{project}}" data-toggle="modal">
    <div class="button button-primary button-black">
      Project Details
    </div>
  </a>
</div>