  <a href="#modal-{{hyphenize project}}" class="work-slide" data-partner="{{partner}}" data-project="{{project}}" id="slide-{{hyphenize project}}" data-toggle="modal">
    <div class="work-slide--image"></div>
    <div class="work-slide--partner">{{{partner}}}</div>
    <div class="work-slide--project">{{{project}}}</div>
    <div class="work-slide--blurb">{{{blurb}}}</div>
  </a>
