
	<div class="section section-{{style}}" id="{{section}}">

		<h4 class="section-header" tabindex="0">{{heading}}</h4>

		<div class="container-margin w-container {{hyphenize section}}-container">
			<div class="body-text">
				{{#if carousel}}
				{{>work-carousel}}
				{{else}}
				{{{encodeParagraph copy}}}
				{{/if}}
			</div>
		</div>

		{{#if copy2}}
		<div class="container-margin w-container">
			<div class="body-text">
				<h2>{{{encode copy2}}}</h2>
			</div>
		</div>
		{{/if}}

	</div>
