
  <div class="section section-light" id="our-work">
    <h4 class="section-header" tabindex="0">Our Work</h4>

    <div class="container-margin w-container work-container">
      <div class="body-text">
        <div class="work-carousel" id="work-carousel">

          <div class="work-carousel--buttons">
            {{#each projects}}
            <div href="#slide-{{hyphenize project}}" class="carousel-button{{#if @first}} active{{/if}}" data-toggle="slide" data-index="{{@index}}" tabindex="-1"></div>
            {{/each}}
          </div>

          <div class="work-slides">
            {{#each projects}}
            <div class="work-slide" data-partner="{{partner}}" data-project="{{project}}" id="slide-{{hyphenize project}}" data-index="{{@index}}">
              <img src="./images/work/{{image}}-2.jpg" alt="{{project}}" class="work-slide--image" />
              <a href="#modal-{{hyphenize project}}" class="work-slide-overlay" data-partner="{{partner}}" data-project="{{project}}" data-toggle="modal" title="{{project}} with {{partner}}" tabindex="0">
                <div class="button button-primary button-black">Project Details</div>
              </a>
              <div class="work-slide-cover">
                <div class="work-slide--partner">{{{partner}}}</div>
                <div class="work-slide--project">{{{project}}}</div>
              </div>
            </div>
            {{/each}}
          </div>

        </div>
      </div>
    </div>

    <div class="container-margin w-container">
      <div class="body-text">
        <h2>There’s a lot more we’ve done, but we’d rather talk about what we can do next in partnership with you.</h2>
      </div>
    </div>

  </div>
